.backgroundA {
  background-color: #fadbd8 !important;
}
.backgroundB {
  background-color: #FCF3CF !important;
}
.backgroundC {
  background-color: #D4EFDF !important;
}
.backgroundD {
  background-color: #D1F2EB !important;
}
.backgroundE {
  background-color: #E8DAEF !important;
}
.backgroundF {
  background-color: #F6DDCC !important;
}
.backgroundG{
  background-color: #D5D8DC !important;
}
.backgroundH{
  background-color: #EBDEF0 !important;
}

